body {
	background-color:black;
	overflow-y: hidden;
	overflow-x: hidden;
}

	#Container {
	background-color:rgba(0,0,0,0.6);
	position:fixed;
	left:0px;
	top:0px;
	height:100%;
	width:100%;
	z-index:998;
}


h1 {
	z-index:999;
	color:rgb(2,2,2);
	font-size:80px;
	position:relative;
	margin-top:-800px;
	margin-left:1250px;
}

#IM1 {
	position:relative;
	z-index:1;
}